@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a{
text-decoration: none;
color: black;
}
ul{
list-style-type: none;
}

img{
    width: 90px;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
}

.hero{
    background-color: aquamarine;
display: flex;
height: 100vh;
}


.featuredlisting{
    background-color: cyan;
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0;
}

.ourvision{
    background-color: salmon;
    display: flex;
    padding: 4.5rem 0;
}

.easysteptobuy{
    background-color: greenyellow;
    padding: 4.5rem 0;

}

.choose{
    background-color: darkorchid;
    display: flex;
    padding: 4.5rem 0;
}

/*sección para clases*/

.alineardoble{
display: flex;
}

.contenedordeflex{
    display: flex;
}



