header{
    background-color: aqua;
}
.hero{
    background-color: aquamarine;
}
.featuredlisting{
    background-color: cyan;
}
.ourvision{
    background-color: salmon
}
.easysteptobuy{
    background-color: greenyellow;
}
.choose{
    background-color: darkorchid;
}