@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a{
text-decoration: none;
color: black;
}
ul{
list-style-type: none;
}

img{
    width: 25px;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.hero{
    background-color: aquamarine;
    display: flex;
}

.alineardoble{
    display: flex;
}

.featuredlisting{
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

.featuredlisting .contenedorcards{
    display: flex;
}

.featuredlisting .alineardoble{
display: flex;
}

.ourvision{
    background-color: salmon
}

.easysteptobuy{
    background-color: greenyellow;
}

.choose{
    background-color: darkorchid;
}

